.list-item {
    display: grid;
    grid-template-columns: 32px auto 15px;
    grid-template-rows: repeat(1, 1fr);
    max-height: 32px;
    max-width: 300px;
    margin: 14px 0 16px 0;
}

.list-item__text {
    margin-left: 6px;
}

.list-item__text__title {
    font-size: 14px;
    line-height: 17.6px;
    max-width: 100%;
}
.list-item__text__description {
    max-width: 100%;
    font-size: 12px;
    line-height: 15.08px
}
